# Ignore these folders to decrease download size of project
/content
/coverage
/node_modules
/source
/tsconfig.json
/tslint.json
/wallaby.js
/.editorconfig
/.travis.yml

# Ignore system-created files
.DS_Store
npm-debug.log
.Spotlight-V100
.Trashes

# Thumbnails
._*
