# Ignore these folders to decrease download size of project
/node_modules
/source
/example
/.editorconfig
/.travis.yml
/rollup.config.js
/tsconfig.json
/tslint.json
/wallaby.js

# Ignore system-created files
.DS_Store
npm-debug.log
.Spotlight-V100
.Trashes

# Thumbnails
._*
